<!DOCTYPE html>
<head>
    <meta charset="utf-8"/>
    <title>{{ res.headerTitle }}</title>
    <meta property="og:title" content="{{ res.headerTitle }}">
    <meta name="description" content="{{ res.headerDescription }}">
    <meta property="og:description" content="{{ res.headerDescription }}">
    <meta itemprop="image" content="public/myResource/myImage/my_photo_preview.jpg">
    <meta property="og:image" content="public/myResource/myImage/my_photo_preview.jpg">
    <meta name="twitter:image" content="public/myResource/myImage/my_photo_preview.jpg">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="./public/css/bootstrap.min.css" rel="stylesheet">
<link href="./public/css/mdb.min.css" rel="stylesheet">
<link href="./public/css/style.css" rel="stylesheet">
<link rel="stylesheet/less" href="./public/css/timeline.less" type="text/css"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js"></script>
<script type="text/javascript" src="../public/build/bundle.js"></script>

<html lang="{{ res.lang }}">
<body>
{% block navBar %}
    {% include 'navBar.twig' %}
{% endblock %}

{% block content %}
{% endblock %}
{% block footer %}
    {% include  'footer.twig' %}
{% endblock %}


<script type="text/javascript" src="./public/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="./public/js/popper.min.js"></script>
<script type="text/javascript" src="./public/js/bootstrap.min.js"></script>
<script type="text/javascript" src="./public/js/mdb.min.js"></script>
<script>
    new WOW().init()

    let lang = sessionStorage.getItem('lang')
    console.log(lang)
    if (lang != null) {
        if (lang === "Rus") {
            document.getElementById("rus-lang-btn").classList.add("custom-navbar-language-toggle-selected");
            document.getElementById("en-lang-btn").classList.add("custom-navbar-language-toggle");
        } else {
            document.getElementById("en-lang-btn").classList.add("custom-navbar-language-toggle-selected");
            document.getElementById("rus-lang-btn").classList.add("custom-navbar-language-toggle");
        }
    } else {
        document.getElementById("rus-lang-btn").classList.add("custom-navbar-language-toggle-selected");
        document.getElementById("en-lang-btn").classList.add("custom-navbar-language-toggle");
    }
</script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (m, e, t, r, i, k, a) {
        m[i] = m[i] || function () {
            (m[i].a = m[i].a || []).push(arguments)
        };
        m[i].l = 1 * new Date();
        k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
    })
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(54026899, "init", {
        clickmap: true,
        trackLinks: true,
        accurateTrackBounce: true,
        webvisor: true
    });
</script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/54026899" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>
<!-- /Yandex.Metrika counter -->

</body>
</html>
