{% extends '../layout.twig' %}



{% block content %}


    <div class="profile-card">

        <div class="profile-info">

            <div>
                <div class="view overlay hm-white-slight ">
                    <img src="public/myResource/myImage/my_photo.jpg" class="img-flex profile-photo">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <div class="card-body text-center">
                    <h3 class="card-title"><strong>{{ res.myFullName }}</strong></h3>
                    <h4>{{ res.developer }}</h4>

                    <p class="card-text" style="font-size: 1.2em">{{ res.myDescribe }}
                    </p>
                </div>
                <div class="media mb-1 skill">
                    <div class="media-body">
                        <h4 class="">{{ res.technologyStack }}</h4>
                        <p>
                            <span class="badge grey badge-element" style="font-size: 100%">Git/Bitbacket</span>
                            <span class="badge blue badge-element" style="font-size: 100%">SQLite</span>
                            <span class="badge red badge-element" style="font-size: 100%">Firebase</span>
                            <span class="badge red badge-element" style="font-size: 100%">и т.д</span>

                            <!--
                        <h4 class="">{{ res.specialization }}</h4>
                        <span class="badge orange badge-element" style="font-size: 100%">Architectural patterns</span>
                        <span class="badge blue badge-element" style="font-size: 100%">Code documentation</span>
                        <span class="badge green badge-element" style="font-size: 100%">Material design</span>
                           -->
                            <br>
                            <br>
                            <strong>Stackoverflow profile</strong>
                            <br>
                            <a href="https://stackexchange.com/users/9552681">
                                <img src="https://stackexchange.com/users/flair/9552681.png?theme=clean" width="208"
                                     height="58"
                                     alt="profile for Аксенов Владимир on Stack Exchange, a network of free, community-driven Q&amp;A sites"
                                     title="profile for Аксенов Владимир on Stack Exchange, a network of free, community-driven Q&amp;A sites">
                            </a>
                            <br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="skills-list skill-description">


                <div class="media mb-1 skill">
                    <div class="media-body">
                        <h4 class="">Java</h4>
                        <ul class="star-rating" style="padding: 0px">
                            <li><i class="fa fa-star amber-text"></i></li>
                            <li><i class="fa fa-star amber-text"></i></li>
                            <li><i class="fa fa-star amber-text"></i></li>
                            <li><i class="fa fa-star amber-text"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <p>Проекты:
                            {% for project in res.javaDescribeStack %}
                                <a href="{{ project.link }}">{{ project.name }}, </a>
                            {% endfor %}
                        </p>
                    </div>
                </div>


                <div class="media mb-1 skill">
                    <div class="media-body">
                        <h4 class="">Kotlin</h4>
                        <ul class="star-rating" style="padding: 0px">
                            <li><i class="fa fa-star amber-text"></i></li>
                            <li><i class="fa fa-star amber-text"></i></li>
                            <li><i class="fa fa-star amber-text"></i></li>
                            <li><i class="fa fa-star amber-text"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>

                        <p>Проекты:
                            {% for project in res.kotlinDescribeStack %}
                                <a href="{{ project.link }}">{{ project.name }}, </a>
                            {% endfor %}
                        </p>
                    </div>
                </div>

                <div class="media mb-1 skill">
                    <div class="media-body">
                        <h4 class="">C#</h4>
                        <ul class="star-rating" style="padding: 0px">
                            <li><i class="fa fa-star amber-text"></i></li>
                            <li><i class="fa fa-star amber-text"></i></li>
                            <li><i class="fa fa-star amber-text"></i></li>
                            <li><i class="fa fa-star amber-text"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>

                        <p>Проекты:
                            {% for project in res.csharpDescribeStack %}
                                <a href="{{ project.link }}">{{ project.name }}, </a>
                            {% endfor %}
                        </p>
                    </div>
                </div>

                <div class="media mb-1 skill">
                    <div class="media-body">
                        <h4 class="">HTML,CSS</h4>
                        <ul class="star-rating" style="padding: 0px">
                            <li><i class="fa fa-star amber-text"></i></li>
                            <li><i class="fa fa-star amber-text"></i></li>
                            <li><i class="fa fa-star amber-text"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <p>Проекты:
                            {% for project in res.webDescribeStack %}
                                <a href="{{ project.link }}">{{ project.name }}, </a>
                            {% endfor %}
                        </p>
                    </div>
                </div>

                <div class="media mb-1 skill">
                    <div class="media-body">
                        <h4 class="">Javascript</h4>
                        <ul class="star-rating" style="padding: 0px">
                            <li><i class="fa fa-star amber-text"></i></li>
                            <li><i class="fa fa-star amber-text"></i></li>
                            <li><i class="fa fa-star amber-text"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <p>Проекты:
                            {% for project in res.javascriptDescribeStack %}
                                <a href="{{ project.link }}">{{ project.name }}, </a>
                            {% endfor %}
                        </p>
                    </div>
                </div>

                <div class="media mb-1 skill">
                    <div class="media-body">
                        <h4 class="">Python</h4>
                        <ul class="star-rating" style="padding: 0px">
                            <li><i class="fa fa-star amber-text"></i></li>
                            <li><i class="fa fa-star amber-text"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <p>Проекты:
                            {% for project in res.pythonDescribeStack %}
                                <a href="{{ project.link }}">{{ project.name }}, </a>
                            {% endfor %}
                        </p>
                    </div>
                </div>


                <div class="media mb-1 skill">
                    <div class="media-body">
                        <h4 class="">PHP</h4>
                        <ul class="star-rating" style="padding: 0px">
                            <li><i class="fa fa-star amber-text"></i></li>
                            <li><i class="fa fa-star amber-text"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <p>Проекты:
                            {% for project in res.phpDescribeStack %}
                                <a href="{{ project.link }}">{{ project.name }}, </a>
                            {% endfor %}
                        </p>
                    </div>
                </div>

                <div class="media mb-1 skill">
                    <div class="media-body">
                        <h4 class="">C++</h4>
                        <ul class="star-rating" style="padding: 0px">
                            <li><i class="fa fa-star amber-text"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <p>{{ res.cppDescribeStack }}</p>
                    </div>
                </div>


            </div>
        </div>
        <div style="display: inline-flex; margin-bottom: 15px">
            <img src="public/myResource/myImage/cup.svg">
            <h3 style="padding-left: 10px; margin: 0px">{{ res.achievements }}</h3>
        </div>
        {% include 'Main/achievements.twig' with {res:res} %}

        <div style="display: inline-flex; margin-bottom: 15px">
            <img src="public/myResource/myImage/cup.svg">
            <h3 style="padding-left: 10px; margin: 0px">{{ res.events }}</h3>
        </div>
        {% include 'Main/events.twig' with {res:res} %}

    </div>

    <script>
        frontendController.setNavBarColor('main');
    </script>

{% endblock %}