{% extends '../layout.twig' %}



{% block content %}



<div class="view overlay">
    <img src="public/myResource/myImage/intro{{ random(2) }}.jpg" class="wow fadeInDown" style="width: 100%; height: 400px">
    <div class="mask waves-effect waves-light"></div>
    <div class="center-text white-text">
        <div class="h1-auto-text-size wow fadeInDown">{{ res.skills }}</div>
    </div>
</div>

<div class="card card-cascade profile-card">

    <div class="profile-info">

        <div>
            <div class="view overlay hm-white-slight">
                <img src="public/myResource/myImage/my_photo.jpg" class="img-flex" style="margin-left: 50%; transform: translate(-50%,0);">
                <a>
                    <div class="mask"></div>
                </a>
            </div>
            <div class="card-body text-center">
                <h4 class="card-title"><strong>{{ res.myName }}</strong></h4>
                <h5>{{ res.developer }}</h5>

                <p class="card-text">{{ res.myDescribe }}
                </p>
            </div>
        </div>
        <div class="skills-list">
            <div class="media mb-1 skill">
                <div class="media-body">
                    <h4 class="">C#</h4>
                    <ul class="rating inline-ul" style="padding: 0px">
                        <li><i class="fa fa-star amber-text"></i></li>
                        <li><i class="fa fa-star amber-text"></i></li>
                        <li><i class="fa fa-star amber-text"></i></li>
                        <li><i class="fa fa-star amber-text"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                    <p>{{ res.csharpDescribe }}</p>
                </div>
            </div>

            <div class="media mb-1 skill">
                <div class="media-body">
                    <h4 class="">Java</h4>
                    <ul class="rating inline-ul" style="padding: 0px">
                        <li><i class="fa fa-star amber-text"></i></li>
                        <li><i class="fa fa-star amber-text"></i></li>
                        <li><i class="fa fa-star amber-text"></i></li>
                        <li><i class="fa fa-star amber-text"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                    <p>{{ res.javaDescribe }}</p>
                </div>
            </div>


            <div class="media mb-1 skill">
                <div class="media-body">
                    <h4 class="">SQL</h4>
                    <ul class="rating inline-ul" style="padding: 0px">
                        <li><i class="fa fa-star amber-text"></i></li>
                        <li><i class="fa fa-star amber-text"></i></li>
                        <li><i class="fa fa-star amber-text"></i></li>
                        <li><i class="fa fa-star amber-text"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                    <p>{{ res.sqlDescribe }}</p>
                </div>
            </div>



            <div class="media mb-1 skill">
                <div class="media-body">
                    <h4 class="">HTML,CSS</h4>
                    <ul class="rating inline-ul" style="padding: 0px">
                        <li><i class="fa fa-star amber-text"></i></li>
                        <li><i class="fa fa-star amber-text"></i></li>
                        <li><i class="fa fa-star amber-text"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                    <p>{{ webDescribe }}</p>
                </div>
            </div>

            <div class="media mb-1 skill">
                <div class="media-body">
                    <h4 class="">Javascript</h4>
                    <ul class="rating inline-ul" style="padding: 0px">
                        <li><i class="fa fa-star amber-text"></i></li>
                        <li><i class="fa fa-star amber-text"></i></li>
                        <li><i class="fa fa-star amber-text"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                    <p>{{ res.javascriptDescribe }}</p>
                </div>
            </div>

            <div class="media mb-1 skill">
                <div class="media-body">
                    <h4 class="">Python</h4>
                    <ul class="rating inline-ul" style="padding: 0px">
                        <li><i class="fa fa-star amber-text"></i></li>
                        <li><i class="fa fa-star amber-text"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                    <p>{{ res.pythonDescribe }}</p>
                </div>
            </div>


            <div class="media mb-1 skill">
                <div class="media-body">
                    <h4 class="">Kotlin</h4>
                    <ul class="rating inline-ul" style="padding: 0px">
                        <li><i class="fa fa-star amber-text"></i></li>
                        <li><i class="fa fa-star amber-text"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                    <p>{{ res.kotlinDescribe }}</p>
                </div>
            </div>
            <div class="media mb-1 skill">
                <div class="media-body">
                    <h4 class="">PHP</h4>
                    <ul class="rating inline-ul" style="padding: 0px">
                        <li><i class="fa fa-star amber-text"></i></li>
                        <li><i class="fa fa-star amber-text"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                    <p>{{ res.phpDescribe }}</p>
                </div>
            </div>

            <div class="media mb-1 skill">
                <div class="media-body">
                    <h4 class="">C++</h4>
                    <ul class="rating inline-ul" style="padding: 0px">
                        <li><i class="fa fa-star amber-text"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                    <p>{{ res.cppDescribe }}</p>
                </div>
            </div>


            <div class="media mb-1 skill">
                <div class="media-body">
                    <h4 class="">{{ res.technologyStack }}</h4>
                    <p>
                            <span class="badge blue badge-element" style="font-size: 100%">NodeJs</span>
                        <span class="badge blue badge-element" style="font-size: 100%">.Net</span>
                        <span class="badge blue badge-element" style="font-size: 100%">Twig</span>
                        <span class="badge blue badge-element" style="font-size: 100%">MongoDB</span>
                        <span class="badge blue badge-element" style="font-size: 100%">Bootstrap</span>
                        <span class="badge white-text black badge-element" style="font-size: 100%">Unity</span>
                        <span class="badge green badge-element" style="font-size: 100%">Keras</span>
                        <span class="badge grey badge-element" style="font-size: 100%">Git</span>
                        <span class="badge grey badge-element" style="font-size: 100%">Bitbacket</span>
                        <span class="badge white badge-element black-text" style="font-size: 100%">GraphQL</span>
                        <span class="badge orange badge-element" style="font-size: 100%">Android development</span>

                        <br><br>
                        SQL databases
                        <lu>
                            <li>MS SQL SERVER</li>
                            <li>MYSQL</li>
                            <li>SQLITE</li>
                        </lu>
                        <br>
                        <strong>Stackoverflow</strong>
                        <br>
                        <a href="https://stackexchange.com/users/9552681">
                            <img src="https://stackexchange.com/users/flair/9552681.png?theme=clean" width="208" height="58" alt="profile for Аксенов Владимир on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for Аксенов Владимир on Stack Exchange, a network of free, community-driven Q&amp;A sites">
                        </a>
                        <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div style="display: inline-flex; margin-bottom: 15px">
        <img src="public/myResource/myImage/cup.svg">
        <h3 style="padding-left: 10px; margin: 0px">{{ res.achievements }}</h3>
    </div>
    {% include 'Main/achievements.twig' with {res:res} %}
</div>

{% endblock %}