<!DOCTYPE html>

{% include 'baseCSSImports.twig' %}


<body>


<div class="view overlay">
    <img src="public/myResource/myImage/intro{{ randomIntroNum }}.jpg" class=" wow fadeInDown" style="width: 100%; height: 400px">
    <div class="mask waves-effect waves-light"></div>
    <div class="center-text white-text">
        <div class="h1-auto-text-size wow fadeInDown">{{ skills }}</div>
    </div>
</div>
{% include 'navBar.twig' %}

<div class="card card-cascade profile-card">

    <div class="profile-info">

        <div>
            <div class="view overlay hm-white-slight">
                <img src="public/myResource/myImage/my_photo.jpg" class="img-flex">
                <a>
                    <div class="mask"></div>
                </a>
            </div>
            <div class="card-body text-center">
                <h4 class="card-title"><strong>{{ navbar.myName }}</strong></h4>
                <h5>{{ developer }}</h5>

                <p class="card-text">{{ myDescribe }}
                </p>
            </div>
        </div>
        <div class="skills-list">
            <div class="media mb-1 skill">
                <div class="media-body">
                    <h4 class="">C#</h4>
                    <ul class="rating inline-ul" style="padding: 0px">
                        <li><i class="fa fa-star amber-text"></i></li>
                        <li><i class="fa fa-star amber-text"></i></li>
                        <li><i class="fa fa-star amber-text"></i></li>
                        <li><i class="fa fa-star amber-text"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                    <p>{{ csharpDescribe }}</p>
                </div>
            </div>

            <div class="media mb-1 skill">
                <div class="media-body">
                    <h4 class="">Java</h4>
                    <ul class="rating inline-ul" style="padding: 0px">
                        <li><i class="fa fa-star amber-text"></i></li>
                        <li><i class="fa fa-star amber-text"></i></li>
                        <li><i class="fa fa-star amber-text"></i></li>
                        <li><i class="fa fa-star amber-text"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                    <p>{{ javaDescribe }}</p>
                </div>
            </div>
            <div class="media mb-1 skill">
                <div class="media-body">
                    <h4 class="">Kotlin</h4>
                    <ul class="rating inline-ul" style="padding: 0px">
                        <li><i class="fa fa-star amber-text"></i></li>
                        <li><i class="fa fa-star amber-text"></i></li>
                        <li><i class="fa fa-star amber-text"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                    <p>{{ kotlinDescribe }}</p>
                </div>
            </div>
            <div class="media mb-1 skill">
                <div class="media-body">
                    <h4 class="">PHP</h4>
                    <ul class="rating inline-ul" style="padding: 0px">
                        <li><i class="fa fa-star amber-text"></i></li>
                        <li><i class="fa fa-star amber-text"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                    <p>{{ phpDescribe }}</p>
                </div>
            </div>

            <div class="media mb-1 skill">
                <div class="media-body">
                    <h4 class="">SQL</h4>
                    <ul class="rating inline-ul" style="padding: 0px">
                        <li><i class="fa fa-star amber-text"></i></li>
                        <li><i class="fa fa-star amber-text"></i></li>
                        <li><i class="fa fa-star amber-text"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                    <p>{{ sqlDescribe }}</p>
                </div>
            </div>

            <div class="media mb-1 skill">
                <div class="media-body">
                    <h4 class="">HTML,CSS</h4>
                    <ul class="rating inline-ul" style="padding: 0px">
                        <li><i class="fa fa-star amber-text"></i></li>
                        <li><i class="fa fa-star amber-text"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                    <p>{{ webDescribe }}</p>
                </div>
            </div>

            <div class="media mb-1 skill">
                <div class="media-body">
                    <h4 class="">C++</h4>
                    <ul class="rating inline-ul" style="padding: 0px">
                        <li><i class="fa fa-star amber-text"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                    <p>{{ cppDescribe }}</p>
                </div>
            </div>

            <div class="media mb-1 skill">
                <div class="media-body">
                    <h4 class="">{{ technologyStack }}</h4>
                    <p>
                        NodeJs, .Net, Twig, MongoDB, Bootstrap, Unity, Keras
                        <br>
                        SQL databases
                        <lu>
                            <li>MS SQL SERVER</li>
                            <li>MYSQL</li>
                            <li>SQLITE</li>
                        </lu>
                        <br>
                        Github, stackOverflow
                        <br>
                        Intermediate technical english level
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


{% include 'copyright.twig' %}

{% include 'baseScriptImports.twig' %}

<script>
  new WOW().init()
</script>
</body>

</html>
