

<nav class="navbar navbar-expand navbar-dark unique-color-dark">
    <div>
        <a class="navbar-brand" href="#"></a>
    </div>
    <div class="navbar-collapse">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" onclick="frontendController.href('/profile')">{{ res.main }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onclick="frontendController.href('/projects')">{{ res.projects }}</a>
            </li>
            <!--
            <li class="nav-item">
                <a class="nav-link" onclick="frontendController.href('/teams')">{{ res.teams }}</a>
            </li>
            -->
            <li class="nav-item">
                <a class="nav-link" onclick="frontendController.href('/contacts')">{{ res.contacts }}</a>
            </li>
            <!--
            <li class="nav-item">
                <a class="nav-link" onclick="frontendController.href('/hobby')">{{ res.hobby }}</a>
            </li>-->
        </ul>
        <div style="display: flex">
            <div  class="waves-effect waves-light unique-color-dark lang-button white-text" role="button" onclick="frontendController.setLang('Rus');">Rus</div>
            <div class="waves-effect waves-light unique-color-dark lang-button white-text" role="button" onclick="frontendController.setLang('En');">En</div>
        </div>


    </div>

</nav>
