
<nav class="navbar navbar-expand navbar-dark unique-color-dark">
    <a class="navbar-brand" href="#">{{ navbar.myName }}</a>

    <div class="navbar-collapse">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">{{ navbar.main }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/projects">{{ navbar.projects }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teams">{{ navbar.teams }}</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/contacts">{{ navbar.contacts }}</a>
            </li>
        </ul>
    </div>
</nav>
